<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="js/angular.min.js"></script>
    <script src="js/shouye.js"></script>
</head>
<body>
    <div ng-app="login" ng-controller="login">
        <div class="container">
            <h1 class="text-center">用户登录</h1>
            <form role="form">
                <div class="form-group">
                    <label for="usernameinput">用户名:</label>
                    <input type="text" class="form-control" id="usernameinput" placeholder="请输入用户名"ng-model="username">
                </div>
                <div class="form-group">
                    <label for="passwordinput">密码:</label>
                    <input type="password"class="form-control" id="passwordinput" placeholder="请输入密码:"ng-model="password">
                </div>
                <a href="javascript:;" class="btn btn-danger center-block " ng-click="loginSubmit();">登录</a>
                <a href="javascript:;" class="btn btn-success center-block btn-primary" ng-click="turnUrl();" style="margin-top: 20px;">注册</a>
                
            </form>

        </div>

    </div>


</body>
</html>